<ion-header>
    <ion-navbar>
        <ion-title>{{ getPageTitle() }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-searchbar showCancelButton="true" (search)="searchByKeyword($event)" (ionCancel)="cancelSearch($event)"></ion-searchbar>
    <ion-list>
        <button ion-item *ngFor="let game of games" (click)="onSelectGame(game)">
            <ion-avatar item-start>
                <img src="{{game?.cover?.url}}" style="width: 36px; height: 48px; border-radius: 0 !important;;">
            </ion-avatar>
            <div>
                <ion-icon *ngIf="isGameInLibrary(game)" name="heart" style="color: red;"></ion-icon>
                <p style="font-size: medium; display: inline;">{{ game.name }}</p>
            </div>
            <p style="display: inline; font-size: 0.7em;" *ngFor="let gamePlatform of getPlatformsFor(game)"> | {{getPlatformDisplayName(gamePlatform)}}</p>
            <p style="display: inline; font-size: 0.7em;"> | </p>
        </button>
    </ion-list>
</ion-content>