<ion-header>
    <ion-navbar>
        <ion-title>{{ getPageTitle() }}</ion-title>
        <ion-buttons end>
            <button *ngIf="!isGameInLibrary()" ion-button icon-only (click)="onAddGameToLibrary()">
                <ion-icon name="heart-outline"></ion-icon>
            </button>
            <button *ngIf="isGameInLibrary()" ion-button icon-only (click)="onRemoveGameFromLibrary()">
                <ion-icon name="heart"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="page-content">

    <h1 class="page-title">{{game.name}}</h1>


    <ion-slides *ngIf="game.screenshots" pager class="photo-slides">
        <ion-slide *ngFor="let url of getLargeScreenshots()">
            <img [src]="url" style="width:100%; height: auto;">
        </ion-slide>
    </ion-slides>

    <div class="platforms-bages-container">

        <ion-grid>
            <ion-row>
                <ion-col style="text-align: right;">
                    <ion-badge item-end *ngFor="let gamePlatform of getPlatformsFor(game)">{{getPlatformDisplayName(gamePlatform)}}</ion-badge>
                </ion-col>
            </ion-row>
        </ion-grid>

    </div>

    <p padding style="color: white; margin: 0px;">{{game.summary}}</p>

    <ion-grid>
        <ion-row>
            <ion-col col-4>
                <p style="color: white; margin: 0px; font-weight: bold;">Release Date:</p>
            </ion-col>
            <ion-col col-8>
                <!-- <p style="color: white; margin: 0px;" *ngFor="let gamePlatform of getPlatformsFor(game)">{{getPlatformDisplayName(gamePlatform)}}</p> -->
                <p style="color: white; margin: 0px;">{{game.first_release_date | date: 'dd/MM/yyyy'}}</p>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-row>
            <ion-col col-4>
                <p style="color: white; margin: 0px; font-weight: bold;">Developers:</p>
            </ion-col>
            <ion-col col-8>
                <p style="color: white; margin: 0px;" *ngFor="let gameDeveloper of getDevelopersFor(game)">{{gameDeveloper.name}}</p>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-row>
            <ion-col col-4>
                <p style="color: white; margin: 0px; font-weight: bold;">Publishers:</p>
            </ion-col>
            <ion-col col-8>
                <p style="color: white; margin: 0px;" *ngFor="let gamePublisher of getPublishersFor(game)">{{gamePublisher.name}}</p>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>