page-game {
    .page-title {
        margin: 0px;
        padding: 20px 10px 20px 10px;
        font-size: x-large;
        font-weight: bold;
        color: #fff;
        background: color($colors, primary);
    }
    .page-content {
        background: color($colors, primary);
    }
    .photo-slides {
        max-width: 100%;
        height: 200px;
        overflow: hidden;
    }
    .swiper-pagination-bullet {
        background: #fff;
        opacity: 1;
    }
    .swiper-pagination-bullet-active {
        background: color($colors, primary);
        opacity: 1;
    }
    .platforms-bages-container {
        background: color($colors, details);
        ;
    }
}